# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# the server documents any document in the /documents folder


/documents


# misc
.DS_Store
.env
npm-debug.log